{% extends 'base.html'%}

{% block container %}

    <div class="row">
          <!-- table -->
            <div class="col s12 m4 l3" style="background-color:#124750; height:100%"> 

                <div class="collection">
                        <a href="#!" class="collection-item">
                            User Management
                        </a>
                        <a href="#!" class="collection-item"> Car Registration </a>
                        <a href="#!" class="collection-item"> User Ratings </a>
                        <a href="#!" class="collection-item"> User Requests </a>
                        <a href="#!" class="collection-item"> Controls </a>
                      
                </div>
      
            </div>
      
            <div class="col s12 m8 l9"> 

                    <table>
                            <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Item Name</th>
                                  <th>Item Price</th>
                              </tr>
                            </thead>
                    
                            <tbody>
                              <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                              </tr>
                              <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                              </tr>
                              <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                              </tr>
                            </tbody>
                          </table>
            </div>
          <!-- end of table -->

        
      
         


{% endblock %}