{% extends 'base.html'%}

{% block container %}

<div class="">
    <div class="row">
        <div class="col s12 m12 l12 align-center">
            <h4> Vechile Details </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6"> <!-- col one -->
            
            <div class="row"> <!-- col A row one -->
                <div class="col s12 m12 l12" >
                    <div style="border: 1px solid blue;border-radius:5px">
                        
                            <div class="" style="background-color: bisque; padding-left: 5%;padding-top:2%; height: 5%"> 
                                    <div> Client Information  </div>
                            </div>

                            <div style="padding:2%">
                                

                            </div>

                                                                    

                    </div>
                </div>
            </div> <!-- end of col A row one -->
            <div class="row"> <!-- col A row two -->
                <div class="col s12 m12 l12">
                    <div style="border: 1px solid blue; ">

                            <div class="" style="background-color:#26a69a ; padding-left: 5%;padding-top:2%; height: 5%"> 
                                    <div> Personal Information  </div>
                            </div>

                            <div style="padding:2%">
                                Car Make : {{ vechile.car_make}} <br>
                                Body Type : {{ vechile.body_type }} <br>
                                Registration Number : {{ vechile.registration_number }} <br>
                                Chassis Number : {{ vechile.chassis }}

                            </div>
                    </div>
                </div> <!-- end of col A  row two -->
            </div> <!-- end of col one -->
            <div class="row"> <!-- col A row three -->
                <div class="col s12 m12 l12" >
                    <div style="border: 1px solid blue;">
                        
                            <div class="" style="background-color: rgb(214, 138, 44); padding-left: 5%;padding-top:2%; height: 5%"> 
                                    <div> Billing Information  </div>
                            </div>

                            <div style="padding:2%">
                                

                            </div>

                    </div>
                </div>
            </div> <!-- end of col A row three -->
            
        </div> 
        <div class="col s12 m6 l6"> <!-- col two-->
            <div class="row"> <!-- col B row one -->
                    <div class="col s12 m12 l12">
                            
                            <div class="" style="background-color: bisque; padding-left: 5%;padding-top:2%; height: 5%"> 
                                    <div> Vechile Listings  </div>
                            </div>

                            <div style="padding:2%">
                                <ol>
                                    <li> Plate Number: UAT 555 </li>
                                    <li> Plate Number: UAT 555 </li>
                                    <li> Plate Number: UAT 555 </li>
                                    <li> Plate Number: UAT 555 </li>
                                    <li> Plate Number: UAT 555 </li>
                                </ol>
                                

                            </div>


                        </div>
                

            </div> <!-- end of  col B row one -->
            <div class="row"> <!-- row tow  -->
                    <div class="col s12 m12 l12">
                            
                        </div>
                

            </div> <!-- end of row two -->
        </div> <!-- end of col two -->
    </div>
</div>


<script>
        $(document).ready(function(){
           $("#admin-section").removeClass("hide");
           $('#action-menu').removeClass('hide');
           $('#link-clients').addClass("active")
        });
   
</script>


{% endblock %}