{% extends 'base.html'%}

{% block container %}

<div class="row"> 
    <div class="col s12 m2 l2"></div>
    <div class="col sm12 m8 l8 center-align">
        <h5> Service Provider  </h5> 
        <table>
                <thead>
                    <tr>
                        <td>  Location </td>
                        <td>  User  </td>
                        <td>  Service Type </td>
                    </tr>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td> {{ service.name }}</td>
                            <td> {{ service.location }}</td>
                            <td> {{ service.service_type }}</td>     
                            <td> <a href="{{ url_for('admin.service_edit', service_id = service.id)}}" class="btn"> Edit </a></td>
                            <td> <a href="{{ url_for('admin.service_info', service_id = service.id)}}"> Info </a></td>
                        </tr>
                        {%  endfor %}
                    </tbody>
                </thead>
            </table>
    </div>
    <div class="col s12 m2 l2"></div>
</div>
<script>
        $(document).ready(function(){
           $("#admin-section").removeClass("hide");
           $('#action-menu').removeClass('hide');
           $('#action-bar-add-service').removeClass('hide')
           $('#link-service').addClass("active")
        });
</script>

{% endblock %}