{% extends 'base.html'%}

{% block container %}

<div class="row"> 
    <div class="col sm12 m12 l12 center-align">
        

        <div class="row">
                <div class="col s12 m2 l2"></div>
                <div class="col s12 m8 l8">

                     <h3 class="center-align"> Add Incident </h3>
                <form id="user-form" method="POST" action="{{url_for('admin.incident_add') }}" role="form">

                    <div class="form-group"> {{ form.csrf_token }} </div>

                    
                        <div class="form-group">    
                            
                            {{ form.membership_number.label }} : {{  form.membership_number() }}
                            
                        </div>
                        <div class="form-group">
                            
                            {{ form.location.label }} : {{  form.location() }}
                           
                        </div>
                    
                        <div class="form-group">
                            
                                {{ form.defect.label }} : {{  form.defect() }}
                               
                            </div>

                        <!-- <div class="form-group">

                                {{ form.photo_name.label }} : {{ form.photo_name() }}
                                
                        </div>
                        -->



                    <div class="row" style="margin-top:50px">
                        <div class=" col s12 center-align" >
                            <button class="btn-small"> Submit</button>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            
                        </div>
                    </div>
                

                </form>
                </div>

                <div class="col s12 m2 l2"></div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function(){
           $("#admin-section").removeClass("hide");
           $('#action-menu').removeClass('hide');
           $('#action-bar-add-incident').removeClass('hide')
           $('#action-bar-add-incident').addClass('disabled')
           $('#link-incidents').addClass("active")
        });
</script>

{% endblock %}